{% extends 'base.html' %}

{% block content %}
<a href="{% url 'blog:index' %}">
    <p>トップ</p>
</a>
<div>
    <h4>カテゴリー</h4>
    <!-- context.pyのオブジェクトを取得しています。（category_list）-->
    {% for category in category_list %}
    <a href="{% url 'blog:category' category %}">
        <p style='float: left; margin-right: 5px;'>
            {{ category.name }}
        </p>
    </a>
    {% endfor %}
</div><br>
<!-- 上記のfloatスタイルの影響を受けないようにしている。（clear）-->
<h1 style='clear: both;'>一覧</h1><br>
{% if category_key %}
<h3>カテゴリー：{{ category_key }}</h3>
{% endif %}

<!-- タグ用 -->
<div style='clear: both;'>
    <h4>タグ</h4>
    {% for tag in tag_list %}
    <a href="{% url 'blog:tag' tag %}">
        <p style='float: left; margin-right: 5px;'>
            {{ tag.name }}
        </p>
    </a>
    {% endfor %}
</div>
<h1 style=' clear: both;'>一覧</h1><br>
<!-- クラス定義にした場合 -->
<!-- タグ用も追記 -->
{% if category_key %}
<h3>カテゴリー：{{ category_key }}</h3>
{% elif tag_key %}
<h3>タグ: {{ tag_key }}</h3>
{% endif %}
{% for blog in blog_list %}
<ul>
    <li>
        {{ blog.created_at }}
        {{ blog.title }}
        <a href="{% url 'blog:detail' blog.pk %}">詳細</a>
    </li>
</ul>
{% endfor %}
{% endblock %}